body{
    background-color: powderblue;
    font-family: Helvetica;
}
.overSide {
  float: center;
  height: 10vh;
}
.midtSideHele {
    display: flex;
    float: left;
    flex-direction: row;
    width: 100vw;
}
.sideDiagramerDiv{
    display: flex;
    float: center;
    flex-direction: column;
    width: 80vw;
}

.midtSide {
    display: flex;
    float: center;
    flex-direction: row;
    width: 80vw;
}

.StromPris{
    width: 49vw;
    
}

.tester2{

    width: 49vw;
}

<<<<<<< HEAD
.topnav {

  overflow: hidden;
  height: 55px;
  background-color: gray;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a.active {
  background-color: #black;
  color: white;
}
=======
.mwe{
    border: solid blue 10px;
}
.mwetwo{
    border: solid blue 10px;
}
>>>>>>> c582f24b0a9cd5993d620d253677fe6e46af7ac7
